<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @graveyard.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @graveyard.address %>
</p>

<%= link_to 'Edit', edit_graveyard_path(@graveyard) %> |
<%= link_to 'Back', graveyards_path %>
